html,
body {
    height: 100%;
}

body {
    height: 100%;
    font-family: $font-primaria;
    margin-bottom: -11px;
}

#conteudo {
    position: relative;
    min-height: 100%;
}

textarea {
    resize: none;
}

.alerta-oculto,
.aviso-block {
    display: none;
}

.text-secundary {
    color: $cor-secundaria;
}

.modal-primary {
    background-color: $cor-primaria;
    color: $cor-clara;
}

.modal-danger {
    background-color: $cor-danger;
    color: $cor-clara;
}

.sem-margin {
    margin: 0;

    ul, li, dl {
        margin: 0;
    }
}

.sem-padding {
    padding: 0;
}

.sem-padding-y {
    padding-top: 0;
    padding-bottom: 0;
}

.sem-padding-x {
    padding-right: 0;
    padding-left: 0;
}

.mb-xs {
    margin-bottom: 5px
}

.mb-sm {
    margin-top: 5px;
    margin-bottom: 10px
}

.mb-md {
    margin-top: 5px;
    margin-bottom: 20px
}

.mb-lg {
    margin-top: 10px;
    margin-bottom: 30px
}

.soft-hide {
    display: none;
}

.table-scroll {
    overflow-y: auto;
    max-height: 40%;
}


.table {
    .input-sm {
        height: 22px;
        padding: 0;
    }

    .btn {
        padding: 0;
    }
}

h1, h2, h3, h4, h5, h6 {
    .texto-destaque {
        font-size: 1.2em;
    }
}