$font-primaria: 'Open Sans', sans-serif;
$font-secundaria: 'Dosis', sans-serif;
$font-size: 14px;

$cor-primaria: #f68200;
$cor-secundaria: #a61d00;
$cor-clara: #fffbf6;
$cor-escura: #222;
$cor-cinza: #f9f9f9;

$cor-success: #5cb85c;
$cor-warning: #f0ad4e;
$cor-danger: #d9534f;

$mq-xs-max: 'only screen and (max-width: 767px)';
$mq-sm-min: 'only screen and (min-width: 768px)';
$mq-sm-max: 'only screen and (max-width: 991px)';
$mq-md-min: 'only screen and (min-width: 992px)';
$mq-md-max: 'only screen and (max-width: 1199px)';
$mq-lg-min: 'only screen and (min-width: 992px)';
$mq-lg-max: 'only screen and (max-width: 1919px)';
$mq-xl-min: 'only screen and (min-width: 1920px)';