.lista-regulamento {

    dd {
        margin-bottom: 10px;
    }
}

.exp-success {
    color: $cor-success;
    text-decoration: underline;
}

.exp-danger {
    color: $cor-danger;
    text-decoration: line-through;
}

.figura-ajuda {

    img {
        width: 100%;
    }
}

.box-palpite {
    padding: 10px;

    &.gravado {
        background-color: lighten($cor-success, 35%);
    }

    &.inserido {
        background-color: lighten($cor-primaria, 35%);
    }

    p {
        margin: 0;
        line-height: 28px;
    }
}

li {

    &.alert {
        list-style: none;
        margin: 5px 0;
    }
}

.brasao {
    float: left;

    &.xs {
        width: 30px;
        height: 30px;
    }

    &.sm {
        width: 40px;
        height: 40px;
    }

    &.md {
        width: 60px;
        height: 60px;
    }
}

.abreviado-brasao {
    float: left;
    margin: 0 10px;
}