.item-listaconvite {
    width: 100%;

    .nome-listaconvite {
        width: 55%;
    }

    .btn-listaconvite {
        width: 15%;
        min-width: 100px;
    }
}

.list-group-item {
    .btn-link {
        padding: 0;
    }
}

.novo-avatar {
    width: 110px;
    height: 110px;
    display: inline-block;
    border: 8px dashed lighten($cor-primaria, 40%);
    border-radius: 90px;
    cursor: pointer;

    .texto {
        color: lighten($cor-primaria, 40%);

        i {
            margin-top: 7px;
        }
    }

    &:hover {
        border: 8px dashed lighten($cor-primaria, 20%);

        .texto {
            color: lighten($cor-primaria, 20%);
        }
    }
}