.item-listaconvite {
    width: 100%;

    .nome-listaconvite {
        width: 55%;
    }

    .btn-listaconvite {
        width: 15%;
        min-width: 100px;
    }
}

.list-group-item {
    .btn-link {
        padding: 0;
    }
}