.item-listaconvite {
    width: 100%;

    .nome-listaconvite {
        width: 55%;
    }

    .btn-listaconvite {
        width: 15%;
        min-width: 100px;
    }
}

.list-group-item {
    .btn-link {
        padding: 0;
    }
}

.novo-avatar {
    width: 110px;
    height: 110px;
    display: inline-block;
    border: 8px dashed lighten($cor-primaria, 40%);
    border-radius: 90px;
    cursor: pointer;

    .texto {
        color: lighten($cor-primaria, 40%);

        i {
            margin-top: 7px;
        }
    }

    &:hover {
        border: 8px dashed lighten($cor-primaria, 20%);

        .texto {
            color: lighten($cor-primaria, 20%);
        }
    }
}

.dashboard-partidas {
    margin-top: 10px;

    .box-partida {
        min-height: 20px;
        padding: 19px;
        margin-bottom: 20px;
        background-color: $cor-primaria-clara;
        border: 1px solid darken($cor-primaria-clara, 10%);
        border-radius: 0;
        box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);

        img {
            height: 50px;
            margin: 15px 0;
        }
    }
}